:root {
  margin: 0;
  padding: 0;
  background: radial-gradient(circle, rgba(255, 150, 242, 1) 0%, rgba(100, 136, 179, 1) 100%);
  font-family: 'Inconsolata', monospace;
  font-family: 'Inter', sans-serif;
}